<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>YUki - A melhor tabela verdade do mundo</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>   
        <link rel="stylesheet" href="../public/CSS/style.css">
    </head>

    <body>
        <canvas id="particles"></canvas>

        <div class="login-container">
            <div class="login-inbox">
                <h2>System Acess</h2>
                <div class="input-group">
                    <input type="text" required id="user">
                    <label>Username</label>
                </div>

                <div class="input-group">
                    <input type="password" required id="pass">
                    <label>Password</label>
                    </div>

                    <button onclick="login()">Login</button>
            </div>
        </div>
              
        <!--Loading Screen-->
        <div id="loading">
            <h2>Autenticando...</h2>
            <div class="progress-bar">
                <div class="progress" id="progress"></div>
            </div>
        </div>

        <!--Tabela verdade-->
        <div id="app">
            <h1>Tabela Verdade - YUki</h1>
            <div class="controls">
                <label for="variables">Número de Variáveis:</label>
                <select id="variables" onchange="generateTable()">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <script src="../public/JS/time-event.js"></script>
    </body>